.actions .shiki {
  background-color: var(--webbanao-elements-actions-code-background) !important;
}

.shiki {
  &:not(:has(.actions), .actions *, .mcp-tool-invocation-code *) {
    background-color: var(--webbanao-elements-messages-code-background) !important;
  }
}
